/* Pages/FundTransfer.css */
.transfer-container {
  max-width: 500px;
  margin: auto;
  padding: 20px;
  background: #f7f7f7;
  border-radius: 10px;
}

.transfer-container input,
.transfer-container select,
.transfer-container button {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
}

.error {
  color: red;
}
.success {
  color: green;
}

.receipt {
  background-color: #e2ffe2;
  padding: 15px;
  border-radius: 8px;
  margin-top: 20px;
}
