.clear-btn {
  padding: 10px 20px;
  background-color: #ffa940;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  animation: fadeIn 0.4s ease;

  position: fixed;
  bottom: 20px;
  left:50px;
  
  transform: translateX(-50%);
  z-index: 1000;
}

.clear-btn:hover {
  background-color: #fa8c16;  
}
